<div class="file">
  <span
    (click)="selectWord(index)"
    [class.class-bold]="hasFormatter(item, 'B')"
    [class.class-italic]="hasFormatter(item, 'I')"
    [class.class-line]="hasFormatter(item, 'U')"
    *ngFor="let item of text; let index = index"
    >{{ item.word }}&nbsp;</span
  >
</div>
<div>
  <ul *ngIf="selectedWord != null">
    <li *ngFor="let item of selectedWord.textFormaters">{{ item.action }}</li>
  </ul>
</div>
<div>
  <ul *ngIf="synonyms != null">
    <li *ngFor="let item of synonyms">
      {{ item }}
      <button (click)="selectSynonym(item)">Seleccionar</button>
    </li>
  </ul>
</div>

<input type="text" (click)="handleClick($event)" />
